@charset "utf-8";
/* CSS Document */
.yellow{color:#fff000;}
.blue{color:#114d85;}
.strikeout{ 
  position: relative;
}
.strikeout::after {
  border-bottom: 0.10em solid #ff0000;
  content: "";
  left: 0;
  margin-top: calc(0.120em / 2 * -1);
  position: absolute;
  right: 0;
  top: 54%;
  transform:rotate(-10deg);
  -webkit-  transform:rotate(-10deg);
}
.bnrbtn, .pkgbtn, .s10btn, .up1s1btn, .up3bxbtn, .up3btn{
	height:70px;
	width:100%;
	background:#00bc40;
	border-radius:6px;
	font-weight:bold;
	font-size:24px;
	line-height:70px;
	color:#fff;
	text-align:center;
	border:none;
	outline-none;
	margin:25px auto 0 auto;
	display:block;
	box-shadow:0 5px 0 #cdcbcb;	
}
.pkgbtn{font-size:25px;margin:10px auto 0 auto;text-transform:uppercase;}
.pkg3btn{margin:24px auto 0 auto;}
.s10btn{text-transform:uppercase;margin:10px 0 0 0;width:94%;}
.up1s1btn{height:79px;width:668px;font-size:30px;line-height:76px;text-transform:uppercase;margin:27px auto 0 auto;padding:3px 0 0 0;letter-spacing:1px;}
.up3bxbtn, .up3btn {
    height: 70px;
    width: 92%;
    font-size: 25px;
    line-height: 67px;
    text-transform: uppercase;
    margin: 24px auto 0 auto;
    padding: 3px 0 0 0;
    letter-spacing: 1px;
}
.up3btn{margin:36px auto 15px auto;width:80%;}
.btnarw2{margin:0 0 0 5px;}
.btnarw3{margin:0 0 0 10px;}
.up1s1btnarw{margin:0 0 3px 10px;}
.up3bxbtnarw{margin:0 0 2px 10px;}
@media only screen and (max-width: 1200px){
.bnrbtn, .pkgbtn, .s10btn{height:60px;line-height:60px;}
.bnrbtn, .s10btn{font-size:21px;}
.btnarw2 {
    margin: 0 0 2px 5px;
	width:26px;height:auto;
}
.up3bxbtn, .up3btn{width:96%;}

}
@media only screen and (max-width: 1030px){
.bnrbtn, .pkgbtn, .s10btn{height:50px;line-height:50px;font-size:18px;box-shadow:0 4px 0 #cdcbcb;margin:15px auto 0 auto;}
.pkgbtn{font-size:20px;}
.s10btn{margin:32px 0 0 0;font-size:18px;}
.btnarw3, .up1s1btnarw{width:27px;height:auto;margin: 0 0 1px 10px;}
.s10btn .btnarw3{width:20px;height:auto;margin:0 0 0 5px;}
.up1s1btnarw{margin:0 0 3px 10px;}
.up1s1btn{width:500px;height:64px;line-height:61px;font-size:24px;}
.up3bxbtn, .up3btn{
    height:60px;
    width: 96%;
    font-size: 22px;
    line-height: 57px;
    margin: 20px auto 0 auto;
}
}
@media only screen and (max-width: 767px){
.pkgbtn, .pkg3btn{margin:10px auto 0 auto;}
.s10btn{margin:0 auto;font-size:20px;width:400px;}
.s10btn .btnarw3{width:25px;height:auto;margin:0 0 1px 5px;}
.up1s1btn{width:100%;font-size:20px;height:58px;line-height:55px;margin:22px auto 0 auto;}
.up3bxbtn, .up3btn {
    height:auto;
    width: 100%;
    font-size: 20px;
    line-height: 28px;
    margin: 18px auto 0 auto;
	padding:8px 10px;
}
.up3btn{margin:30px auto 10px auto;}
}
@media only screen and (max-width: 479px){
.s10btn{width:96%;}
.up1s1btn {
	font-size: 17px;
	height: 52px;
	line-height: 49px;
	box-shadow:0 3px 0 #cdcbcb;	
	margin:18px auto 0 auto;
}
.up1s1btnarw{width:24px;margin: 0 0 1px 2px;}
.up3bxbtn {font-size: 18px;line-height: 25px;}
}
@media only screen and (max-width: 389px){
.up1s1btn {
	font-size: 15px;
	height: 50px;
	line-height: 47px;
}	
}
/*===============================*/
.show-479, .show-tab, .show-767, .show-400, .show-340, .show-359, .show-389{display:none;}
@media only screen and (max-width: 1030px){
.show-tab{display:block;}
.hide-tab{display:none;}
}
@media only screen and (max-width: 767px){
.hide-767{display:none;}
.show-767{display:block;}
}
@media only screen and (max-width: 479px){
.show-479{display:block;}
.hide-479{display:none;}
}
@media only screen and (max-width: 400px){
.show-400{display:block;}
.hide-400{display:none;}
}
@media only screen and (max-width: 389px){
.hide-389{display:none;}
.show-389{display:block;}
}
@media only screen and (max-width: 359px){
.hide-359{display:none;}
.show-359{display:block;}
}

